.topHalf {
  background-color: #333;
  height: 500px;
}

.dot {
  background-color: aquamarine;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}

body { 
  margin: 0;
  padding: 0;
}